/* BASICS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    list-style: none;
    font-family: Montserrat;
}
body, nav>li{
    background-color: #f5f5f5;
}
button{
    cursor: pointer;
}

/* HEAD */
header{
    background-color: #636C79;
    color: #f5f5f5;
    padding: 40px 50px 100px 50px;
}
.nav-icon{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-bottom: 60px;
}
nav > ul{
    display: flex;
    align-items: center;
}
.nav-list{
    padding: 15px;
}
.logo-top{
    width: 120px;
    height: 40px;
}
.nav-btn{
    font-weight: 700;
    background: transparent;
    color: #f5f5f5;
    padding: 8px 30px;
    font-size: 15px;
    border: 1px solid #ffffff;
}
.description{
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}
.first-img{
    width: 35vw;
    height: 475px;
    object-fit: cover;
}
.description-body{
    width: 42vw;
}
.description-body > h1{
    font-size: 50px;
    padding: 35px 0;
}
.description-body > p{
    line-height: 150%;
    color: #dfdddd;
    width: 450px;
}
.talk{
    margin-top: 50px;
    width: 40vw;
    padding: 15px 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.talk > input{
    border: none;
    background: transparent;
    font-size: 15px;
}
.mail{
    height: 22px;
    margin-right: 1vw;
}
.talk-btn{
    background-color: #8BB7A2;
    border: none;
    padding: 1vw 2vw;
    font-weight: 700;
    color: #f5f5f5;
    font-size: 17px;
}
/* STATS */
.stats{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-head{
    font-size: 3.5vw;
    width: 550px;
    text-align: center;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4.5vh;
}
.numbers > div > h2{
    font-size: 3.5vw;
    padding: 1vh 7vw;
}
.numbers > div > p{
    color: #636C79;
}
.stat-img{
    width: 75vw;
    height: 40vw;
    object-fit: cover;
    /* margin-left: 250px; */
    margin-bottom: 12vw;
}
/* HERO */
.head-of-hero{
    display: flex;
    justify-content: center;
}
.hero-head{
    width: 42vw;
    text-align: center;
    font-size: 3.2vw;
}
.heros{
    margin: 10px 110px;
    display: flex;
    justify-content: space-between;
    padding: 8vh 2vw;
    /* flex-direction: row-reverse; */
}
.heros>img{
    width: 32vw;
    height: 35vw;
    object-fit: cover;
}
.hero-body{
    width: 40vw;
}
.hero-body > h1{
    font-size: 40px;
    padding: 40px 0px;
}
.hero-body > p{
    color: #636C79;
    font-size: 18px;
    line-hevwight: 180%;
    padding-bottom: 40px;
}
/* TEAM */
.team{
    margin: 75px 120px;
}
.team-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.team-head > h1{
    font-size: 3.8vw;
}
.team-head > p{
    color: #636C79;
    width: 60vw;
    font-style: 1vw;
}
.team-cards{
    display: flex;
    justify-content: space-around;
    margin-left: -10vw;
}
.team-member{
    width:10vw ;
    margin-bottom: 80px;
}
.team-member > img{
    width: 20vw;
    height: 25vw;
    object-fit: cover;
}
.bio{
    font-size: 14px;
    color: #636C79;
    padding: 5px 5px;
    line-height: 150%;
    width: 15vw;
}
.name{
    padding: 10px 5px;
}
.team > button{
    margin-left: 45%;
}
/* FOOTER */
footer{
    background-color: #10181D;
    padding: 75px 100px;
    color: #f5f5f5;
}
.footheader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
}
.bottom-logo{
    width: 135px;
}
.socials{
    width: 300px;
}
.socials > li{
    width: 505px;
    padding: 0
}

.footlist{
    display: flex;
    justify-content: space-around;
}
.foothead{
    font-size: 20px;
    padding: 15px;
    margin-top: 75px;
}
.secondary{
    padding: 10px 15px;
    font-size: 14px;
    color: #949aa1;
    font-weight: 500;
}

/* MEDIA QUIREY */
@media screen and (max-width: 900px){
    nav > ul{
        display: none;
    }    
    .nav-icon{
        display: block;
        width: 6vw;
    }
    .first-img{
        display: none;
    }
    .description-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95vw;
        text-align: center;
    }
    .talk{
        margin-top: 50px;
        width: 40vw;
        padding: 15px 30px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .talk > input{
        border: none;
        background: #FFFFFF;
        padding: 2vw;
        margin-bottom: 2vw;
        font-size: 15px;
    }
    .mail{
        display: none;
    }
    .talk-btn{
        background-color: #8BB7A2;
        border: none;
        padding: 1.5vw 2.5vw;
        font-weight: 700;
        color: #f5f5f5;
        font-size: 17px;
    }
    .hero-img{
        display: none;
    }
    .hero-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        text-align: center;
        background-color: #fff;
        padding: 2vw;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;        
    }
    .team-head{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .team-head > h1{
        margin-bottom: 1vw;
    }
    .team-head > p{
        width: 80vw;
    }
    .team-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .team-member{
        width: 60vw;
        background-color: #fff;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .last-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .last-btn > button{
        padding: 2vw 4vw;
    }
    .team-member > img{
        width: 35vw;
        height: 45vw;
        border-radius: 50%;
    }
    .bio{
        width: 50vw;
        text-align: center;
    }
    footer{
        margin: 0;
        padding: 5vw 2vw;
    }
    .footheader{
        padding: 0;
    }
    .bottom-logo{
        width: 15vw;
        padding: 2vw;
        margin: 2vw;
    }
    .socials{
        width: 30vw;
    }
    .list > h6{
        font-size: 2.5vw;
        padding: 1vw;
    }
    .list > li{
        font-size: 1.5vw;
        padding: 1vw;
    }
}